

<head>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 10px;
        }
    </style>
    <title>Friends</title>
</head>
    <body>
        {% if name %}
        <h1>Hello {{ name }}!</h1>
        {% endif %}
        <div class="title">
            <h2>Here are all your friends!</h2>
        </div>

        {% for row in data %}
            <tr>
            {% for d in row %}
                <td><li>{{ d }}</li></td><br />
            {% endfor %}
            </tr>
        {% endfor %}

        <br />

        <form method="post" action="{{ url_for('friends') }}">
            <label for="email">Enter your friend's email</label>:
            <input type="text" name="email" required='true' />
            <input type="submit" value="Add"/>
        </form>
        {% if message %}
        <p style="color:red">{{message}}</p>
        {% endif %}

        <h1>Friend recommendation</h1>
        <table style="width:50%"> 
            <tr>
                <th style="width:50%">Friend's Email</th>
                <th style="width:50%">Recommendation Index </th>
            </tr>
            {% for row in friends %}
                <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                </tr>
            {% endfor %}
            </table>

    </body>

<ul>
<li>Go back to <a href='/profile'>profile?</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>
        